body {
    background-image: url(https://images8.alphacoders.com/407/407841.jpg);
    margin: 0px;
    align-items: center;
}
h1{
    font-family: 'Galada', cursive;
    color:black;
    text-align: center;
    
}

main {
    max-width: 70vw;
    margin: auto;
}

#jogo-da-memoria {
    display: flex;
    flex-wrap: wrap;
    opacity: 90%;
    background-color: red;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px  purple;
}

.card {
    margin: 2%;
    line-height: 1vh;
    width: 120px;
    height: 150px;
}

.card img {
    width: 120px;
    height: 150px;
}